<div class="container">
  <form class="row gy-2 gx-3 align-items-center" [formGroup]="form" (ngSubmit)="saveTask()">
    <input type="number" formControlName="id" [hidden]="true">
    <input type="number" formControlName="version" [hidden]="true">
    <div class="col-md-6">
      <label for="title" class="form-label">{{'FORM.TITLE' | translate }}</label>
      <input type="text" class="form-control" id="title" formControlName="title">
    </div>
    <div class="col-md-6">
      <label for="priority" class="form-label">{{'FORM.PRIORITY' | translate }}</label>
      <input type="number" class="form-control" id="priority" formControlName="priority">
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">{{'FORM.SAVE' | translate }}</button>
    </div>
    <div class="col-2">
      <button type="button" [hidden]="updateBtn" (click)="updateAgain()" class="btn btn-outline-warning">{{'FORM.EDIT_AGAIN' | translate }}</button>
    </div>
    <div class="col-2">
      <select #langselect (change)="transalte.use(langselect.value);">
        <option *ngFor="let lang of transalte.getLangs()" value="{{lang}}">{{lang}}</option>
      </select>
    </div>
    <div class="col-6">
      <div class="alert d-flex align-items-center"
           [ngClass]="{'alert-success': response.status === 200, 'alert-danger': response.status === 600, 'alert-warning': response.status === 700}">
        {{response.message}}
      </div>
    </div>
  </form>

    <div class="task-list">
      <ul>
        <li *ngFor="let item of taskList">
          <span [ngClass]="{cross: item.done > 0}">
            <input class="form-check-input" type="checkbox" [checked]="item.done" (change)="changeStatus($event, item)">
            {{item.priority}}) {{item.title}} -
            <a (click)="Edit(item)" href="#">[{{'LIST.EDIT' | translate }}]</a> | <a href="#" (click)="Delete(item)">[{{'LIST.DELETE' | translate }}]</a>
          </span>
        </li>
      </ul>
    </div>
</div>
<router-outlet></router-outlet>
